@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Jost", sans-serif;
}

html {
  overflow-x: hidden;
}

.navLink {
  @apply text-base pl-6 text-white hover:text-orange-clr duration-500  md:text-sm md:text-navlink-clr md:font-semibold lg:text-base lg:pl-8;
}

.overlay {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.input-style {
  @apply w-full py-2.5 pl-3 border rounded-md mb-7 outline-none duration-150 focus:drop-shadow-md;
}

.submit-btn {
  @apply bg-white py-1.5 px-6 rounded-lg border border-orange-clr text-orange-clr font-semibold  hover:bg-orange-clr hover:text-white duration-300 lg:px-8 lg:py-2;
}

.btn {
  @apply bg-orange-clr text-white py-2.5 px-5 rounded-md text-xs  hover:-translate-y-1.5 duration-500 lg:px-7 lg:py-3 lg:text-sm;
}

.footer-icon {
  @apply text-xl cursor-pointer;
}
.swiper-pagination {
  margin-bottom: 30px;
}
