@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --heading-clr: #252525;
  --yellow-clr: #f7ba01;
  --navlink-clr: #2d2d2d;
  --orange-clr: #ff6000;
  --gray-clr: #686464;
  --banner-bg: #f4f4f4;
  --footer-bg: #f5f4ee;
}

* {
  font-family: "Jost", sans-serif;
}
